.m {
   z-index: 200;
   position: fixed;
   text-align: center;
   top: 22vh;
   left: 10%;
   width: 80%;
   background: white;
   box-shadow: 0 2px 8px #555;
   border-radius: 10px;
}

.m__header {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   width: 100%;
   padding: 1rem 0.5rem;
   background: rgb(173, 7, 7);
   color: #eee;
}

.m__header h2 {
   margin: 0.5rem;
   font-size: 15px;
}

.m__content {
   padding: 1rem 0.5rem;
   font-weight: 500;
}

.m__footer {
   padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
   .m {
      left: calc(50% - 20rem);
      width: 40rem;
   }

   .m__header h2 {
      font-size: 20px;
   }
}

.m-enter {
   transform: translateY(-10rem);
   opacity: 0;
}

.m-enter-active {
   transform: translateY(0);
   opacity: 1;
   transition: all 200ms;
}

.m-exit {
   transform: translateY(0);
   opacity: 1;
}

.m-exit-active {
   transform: translateY(-10rem);
   opacity: 0;
   transition: all 200ms;
}
