.control {
   margin: 1rem 0;
}

.control label,
.control input,
.control textarea {
   display: block;
}

.control label {
   font-weight: bold;
   margin-bottom: 0.5rem;
}

.control input,
.control textarea {
   width: 100%;
   height: 2.5rem;
   font: inherit;
   border: 1px solid #ccc;
   border-radius: 5px;
   background: #f8f8f8;
   padding: 0.15rem 0.25rem;
}

.control input:focus,
.control textarea:focus {
   outline: none;
   background: #ebebeb;
   border-color: #03907c;
}

.control--invalid label,
.control--invalid p {
   color: red;
}

.control--invalid input,
.control--invalid textarea {
   border-color: red;
   background: #ffd1d1;
}
