.banner {
   color: #fff;
   width: 60vw;
   padding: 20px;
   margin-top: 20vh;
   font-size: 2vmin;
}

.btns {
   width: 40vw;
   text-align: center;
}

.banner ul {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.banner ul li {
   padding: 10px;
   margin: 10px;
   font-weight: bold;
   font-size: 4vmin;
}

.banner ul li img {
   background: #fff;
   border-radius: 50%;
   padding: 5px;
   width: 50px;
   margin: 5px;
   height: 50px;
}

.banner .start {
   all: unset;
   background: rgb(233, 162, 9);
   font-weight: bold;
   color: #222;
   padding: 10px 20px;
   border-radius: 5px;
   margin: 30px;
   cursor: pointer;
}
.banner .inverse {
   all: unset;
   background: transparent;
   border: 1px solid rgb(233, 162, 9);
   font-weight: bold;
   color: rgb(233, 162, 9);
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
}

.banner button:hover,
.banner button:active {
   box-shadow: 1px 1px 6px 0px rgb(233, 162, 9);
}
