.banner {
   color: #fff;
   width: 70vw;
   padding: 20px;
   margin-top: 20vh;
   font-size: 2.5vmin;
   z-index: 200;
   align-self: center;
   margin: auto;
}

.banner .hero-grid-icons {
   /* border: 1px solid white; */
   display: grid;
   grid-template-columns: 20% 20% 20% 20%;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.banner .hero-grid-icons .hero-icon {
   width: 100px;
   height: 100px;
   /* border: 1px solid #fff; */
   margin: 20px auto;
}

.banner .hero-text {
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner .hero-text .hero-title {
   max-width: 80%;
   font-size: 3.5rem;
   font-weight: bold;
   margin: 20px auto;
   text-align: center;
}
.banner .hero-actions {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner .hero-actions .button {
   all: unset;
   background-color: #fff;
   font-weight: bold;
   color: #02806e;
   font-size: 2rem;
   padding: 10px 30px;
   border-radius: 15px;
   cursor: pointer;
   transition: 400ms all;
   transform: translateY(0px);
}

.banner .hero-actions .button:hover {
   transition: 500ms all;
   transform: translateY(-10px);
   box-shadow: 0px 0px 10px 0px #fff;
}

.word {
   transform: rotateZ(30deg) scale(1.1);
}
.excel {
   transform: rotateZ(-25deg) translate(-50px, -30px) scale(1.2);
}
.txt {
   transform: rotateZ(25deg) scale(0.8);
}
.pdf {
   transform: rotateZ(-30deg) scale(0.8);
}
.rar {
   transform: rotateZ(-30deg) scale(0.8);
}
.photo {
   transform: rotateZ(30deg) scale(1.1);
}
.video {
   transform: translate(60px, 0px) rotateZ(-30deg) scale(1);
}
.audio {
   transform: translate(50px, 0px) rotateZ(30deg) scale(1.1);
}
