@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skew-back {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.skew-back img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.wms-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
}

.wms-head #search {
  all: unset;
  margin: 10px 20px;
  background: #fff;
  font-weight: 500;
  width: 60vw;
  height: 1.9rem;
  border-radius: 10px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 10px 0px #aaa;
          box-shadow: 1px 1px 10px 0px #aaa;
}

.wms-head #search:focus {
  -webkit-box-shadow: 1px 1px 10px 0px #03907c;
          box-shadow: 1px 1px 10px 0px #03907c;
}

.wms-head button {
  all: unset;
  margin: 0 10px;
  width: 120px;
  min-width: 90px;
  height: 2rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: px;
  background: #fff;
  color: #03907c;
  padding: 5px;
}

.wms-head button:hover {
  -webkit-box-shadow: 0px 1px 4px 1px #fff;
          box-shadow: 0px 1px 4px 1px #fff;
}

.wms-head button:focus {
  outline: none;
}

.wms-head button img {
  display: inline;
  -webkit-animation: rot 2s infinite;
          animation: rot 2s infinite;
  border-radius: 50%;
  width: 30%;
  margin: 0 10px;
  height: 100%;
}

.wms-main {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 2px #ccc;
          box-shadow: 0px 2px 5px 2px #ccc;
  width: 90vw;
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
}

.wms-main .files-viwer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.wms-main .files-viwer .option {
  z-index: 100;
  -webkit-box-shadow: 0px 1px 5px 1px #ccc;
          box-shadow: 0px 1px 5px 1px #ccc;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  width: 150px;
  height: 210px;
}

.wms-main .files-viwer .option ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.wms-main .files-viwer .option ul li {
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 7px;
  margin: 2px 0;
}

.wms-main .files-viwer .option ul li:hover {
  background: #eee;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
}

.wms-main .files-viwer .item-file {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 20px 10px;
  width: 120px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.wms-main .files-viwer .item-file img {
  width: 50%;
  height: 80%;
  margin: 10px;
}

.wms-main .files-viwer .item-file p {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  font-weight: 500;
  width: 80%;
}

.wms-main .files-viwer .item-file label {
  display: none;
  position: absolute;
  top: 0;
  right: 10%;
  width: 20px;
  height: 30px;
}

.wms-main .files-viwer .item-file label img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.wms-main .files-viwer .item-file:hover {
  background: #eee;
}

.wms-main .files-viwer .item-file:hover label {
  display: block;
}

.desc {
  display: block;
  position: relative;
  top: 250px;
  left: 50px;
}

@media (max-width: 768px) {
  .wms-head #search {
    width: 9rem;
  }
  .wms-head button {
    font-size: 14px;
    width: 3rem;
  }
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a:hover, a:active {
  text-decoration: none;
  color: #fff;
}

#root {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/svg/skew-01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#root .doc-img {
  position: absolute;
  z-index: 1;
  right: -50px;
  bottom: 100px;
  text-align: center;
}

#root .doc-img img {
  width: 60vw;
  height: 70vh;
}

.upload-modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  text-align: center;
  width: 100%;
  height: 55vh;
}

.upload-modal .file-str {
  padding: 0px 10px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-modal .file-str .item-str {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.upload-modal .file-str .item-str .ctr-item {
  font-weight: bold;
  position: absolute;
  right: -6%;
  width: 30px;
  height: 35px;
  padding: 0;
}

.upload-modal .file-str input {
  margin: 10px 5px;
  display: inline;
  width: 20%;
}

.upload-modal .item-file {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  margin: 10px;
  padding: 20px 10px;
  width: 120px;
  height: 100px;
  border-radius: 10px;
}

.upload-modal .item-file img {
  width: 50%;
  height: 80%;
  margin: 10px;
}

.upload-modal .item-file p {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
}

.upload-modal .item-file label {
  display: none;
}

.slide-in-left-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-in-left-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.slide-in-left-exit {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */