@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skew-back {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.skew-back img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'PT Mono', monospace;
}

body {
  margin: 0;
}

#root {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/svg/skew-01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#root .doc-img {
  position: absolute;
  z-index: 1;
  right: -50px;
  bottom: 100px;
  text-align: center;
}

#root .doc-img img {
  width: 60vw;
  height: 70vh;
}

.upload-modal {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vh;
}

.slide-in-left-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-in-left-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.slide-in-left-exit {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wms-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 90px;
}

.wms-head #search {
  all: unset;
  margin: 10px 20px;
  background: #fff;
  width: 50vw;
  height: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 10px 0px #aaa;
          box-shadow: 1px 1px 10px 0px #aaa;
}

.wms-head #search:focus {
  -webkit-box-shadow: 1px 1px 10px 0px #03907c;
          box-shadow: 1px 1px 10px 0px #03907c;
}

.wms-main {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
}

.wms-main .files-viwer {
  margin: 10px auto;
  width: 90vw;
  height: 70vh;
  overflow: auto;
  -webkit-box-shadow: 0px 1px 5px 0px #555;
          box-shadow: 0px 1px 5px 0px #555;
}

.desc {
  display: block;
  position: relative;
  top: 250px;
  left: 50px;
}
/*# sourceMappingURL=App.css.map */