@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skew-back {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.skew-back img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.wms-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 30px;
}

.wms-head #search {
  all: unset;
  margin: 10px 20px;
  background: #fff;
  font-weight: 500;
  width: 50vw;
  height: 1.9rem;
  border-radius: 10px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 10px 0px #aaa;
          box-shadow: 1px 1px 10px 0px #aaa;
}

.wms-head #search:focus {
  -webkit-box-shadow: 1px 1px 10px 0px #03907c;
          box-shadow: 1px 1px 10px 0px #03907c;
}

.wms-head .up {
  all: unset;
  cursor: pointer;
  margin: 0 10px;
  width: 120px;
  height: 2rem;
  border-radius: 10px;
  background: #fff;
  color: #03907c;
  padding: 5px;
}

.wms-head .up:hover {
  -webkit-box-shadow: 0px 1px 4px 1px #fff;
          box-shadow: 0px 1px 4px 1px #fff;
  -webkit-animation: shakeAnim 3s forwards;
          animation: shakeAnim 3s forwards;
}

.wms-head .up:focus {
  outline: none;
}

.wms-head .up label {
  font-weight: bold;
  font-size: 18px;
  margin: 3px;
}

.wms-head .up img {
  display: inline;
  -webkit-animation: shake 3s infinite;
          animation: shake 3s infinite;
  border-radius: 50%;
  width: 30%;
  margin: 0 10px;
  height: 100%;
}

.wms-head .setting {
  all: unset;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  margin: 0 10px;
  padding: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 1px #777;
          box-shadow: 1px 1px 5px 1px #777;
}

.wms-head .setting:hover {
  -webkit-box-shadow: 1px 1px 10px 1px #777;
          box-shadow: 1px 1px 10px 1px #777;
}

.wms-head .setting:focus {
  outline: none;
}

.wms-head .setting img {
  margin: 0;
  display: inline;
}

.wms-main {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 2px #ccc;
          box-shadow: 0px 2px 5px 2px #ccc;
  width: 90vw;
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
}

.wms-main .files-viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.wms-main .files-viewer .option {
  z-index: 100;
  -webkit-box-shadow: 0px 1px 5px 1px #ccc;
          box-shadow: 0px 1px 5px 1px #ccc;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  padding: 0;
  width: 150px;
}

.wms-main .files-viewer .option ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.wms-main .files-viewer .option ul li {
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 7px;
  margin: 2px 0;
}

.wms-main .files-viewer .option ul li:hover {
  background: #eee;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
}

.wms-main .files-viewer .item-file {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 20px 10px;
  width: 120px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.wms-main .files-viewer .item-file img {
  width: 50%;
  height: 80%;
  margin: 10px;
}

.wms-main .files-viewer .item-file p {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  font-weight: 500;
  width: 80%;
}

.wms-main .files-viewer .item-file label {
  display: none;
  position: absolute;
  top: 0;
  right: 10%;
  width: 20px;
  height: 30px;
}

.wms-main .files-viewer .item-file label img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.wms-main .files-viewer .item-file:hover {
  background: #eee;
}

.wms-main .files-viewer .item-file:hover label {
  display: block;
}

.desc {
  display: block;
  position: relative;
  top: 250px;
  left: 50px;
}

@media (max-width: 700px) {
  .wms-head {
    margin-bottom: 10px;
  }
  .wms-head #search {
    width: 80%;
    margin: 0 10px;
  }
  .wms-head .up {
    text-align: center;
    padding: 5px 0;
    margin: 0;
    width: 40px;
    height: 30px;
    border-radius: 50%;
  }
  .wms-head .up label {
    display: none;
  }
  .wms-head .up img {
    margin: 2px;
    width: 80%;
  }
  .wms-head .setting {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .wms-head .setting img {
    margin: 2px;
    width: 90%;
  }
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shakeAnim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  1% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  2% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  3% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  4% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  5% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  6% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  7% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shakeAnim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  1% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  2% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  3% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  4% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  5% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  6% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  7% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  1% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  2% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  3% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  4% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  5% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  6% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  7% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  1% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  2% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  3% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  4% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  5% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  6% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  7% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a:hover, a:active {
  text-decoration: none;
  color: #fff;
}

#root {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/svg/skew.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#root .doc-img {
  position: absolute;
  z-index: 1;
  right: -50px;
  bottom: 100px;
  text-align: center;
}

#root .doc-img img {
  width: 60vw;
  height: 70vh;
}

.upload-modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 60vh;
}

.upload-modal .btn-close {
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  opacity: 0.5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.upload-modal .file-str {
  padding: 0px 10px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-modal .file-str .item-str {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.upload-modal .file-str .item-str .ctr-item {
  font-weight: bold;
  width: 30px;
  height: 35px;
  padding: 0;
}

.upload-modal .file-str .item-str input {
  margin: 10px 5px;
  display: inline;
  width: 20%;
}

.upload-modal .file-str .item-str textarea {
  margin: 10px 5px;
  display: inline;
  width: 70%;
}

.upload-modal .item-file {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  margin: 10px;
  padding: 20px 10px;
  width: 120px;
  height: 100px;
  border-radius: 10px;
}

.upload-modal .item-file img {
  width: 50%;
  height: 80%;
  margin: 10px;
}

.upload-modal .item-file p {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
}

.upload-modal .item-file label {
  display: none;
}

.dashboard {
  z-index: 100;
  position: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80vh;
  background: white;
  -webkit-box-shadow: 0 2px 8px #555;
          box-shadow: 0 2px 8px #555;
  border-radius: 10px;
}

.dashboard .btn-close {
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  opacity: 0.5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dashboard .menu {
  width: 15%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.dashboard .menu .item-list {
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .menu .item-list .item {
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.dashboard .menu .item-list .item label {
  cursor: pointer;
  margin: auto;
  text-align: center;
  display: block;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dashboard .menu .item-list .item label img {
  margin: 10px;
  width: 60%;
  height: 60%;
}

.dashboard .main {
  border-radius: 20px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: #eeefff;
}

.dashboard .main .user-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dashboard .main .user-info .item {
  margin: 5px 0;
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 80%;
  font-size: 1.6vmax;
}

.dashboard .main .user-info label {
  font-weight: 500;
  border-radius: 8px;
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #fff;
}

.dashboard .main .new-user-form {
  width: 80%;
  height: 70%;
}

.dashboard .main .users-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
}

.dashboard .main .users-list .user-wrap {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin: 5px;
  padding: 5px 10px;
}

.dashboard .main .users-list .user-wrap .user-item {
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.dashboard .main .users-list .user-wrap .user-item .info {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  width: 60%;
  height: 100%;
  margin-right: auto;
  display: inline;
}

.dashboard .main .users-list .user-wrap .user-item .info label {
  margin: auto 10px;
}

.dashboard .main .users-list .user-wrap .user-item .btns {
  margin-top: 0;
  margin-right: 0;
  width: 40%;
  height: 100%;
  display: inline;
}

.dashboard .main .users-list .user-wrap .user-item .btns button {
  font-weight: 500;
  width: 80px;
  margin: 5px;
}

.dashboard .main .users-list .user-wrap .user-form {
  margin: 0 auto;
  width: 100%;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #fff;
  height: 100%;
}

.dashboard-enter {
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
  opacity: 0;
}

.dashboard-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.dashboard-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.dashboard-exit-active {
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.user-form-enter {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  opacity: 0;
}

.user-form-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.user-form-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.user-form-exit-active {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  opacity: 0;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.slide-in-left-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-in-left-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.slide-in-left-exit {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .upload-modal {
    max-height: 65%;
  }
  .upload-modal .file-str .item-str input {
    width: 30%;
    font-size: 12px;
    padding: 1px;
  }
  .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    top: 15%;
    height: 70vh;
  }
  .dashboard .menu {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 15%;
  }
  .dashboard .menu .item-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dashboard .menu .item-list .item {
    padding: 10px;
    margin: 10px;
    height: 50px;
    font-size: 2.5vmin;
  }
  .dashboard .menu .item-list .item label {
    width: 35px;
    height: 35px;
  }
  .dashboard .menu .item-list .item label img {
    margin: 5px;
  }
}

@media (max-width: 500px) {
  #root {
    background-image: url("./assets/svg/skew-mobile.svg");
  }
  .main .users-list .user-item .btns button {
    width: 20px;
    font-size: 1.2vmax;
  }
  .main .users-list .user-item .info {
    text-align: center;
  }
}
/*# sourceMappingURL=App.css.map */